<html>

  <head>
    <link rel="stylesheet" href="stylesheets/foundation.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/app.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/animate.min.css">
    <script src="js/vendor/jquery.js"></script>
    <script src="js/vendor/modernizr.js"></script>
  </head>

  <body>

    <header class='text'>
      <article id='greeting'>Hello!</article>
      <article id='ask-name'>What do you want to name me?</article>
    </header>

    <header class='text' id='needs'>
      
      <section id='left'>
         <text class='need'>
          HAPPINESS
        </text>
        <text class='need'>
          TIREDNESS
        </text class='need'>
        <br>
        <text id='left-progress'>
          <bar class='progress-bar'>
            <span id='happiness-meter'></span>
          </bar>
          <bar id ='right-progress' class='progress-bar'>
            <span id='tiredness-meter'></span>
          </bar>
        </text>
      </section>

      <b><text id='name'></text></b>

      <section id='right'>
        <text id='fullness' class='need'>
          FULLNESS
        </text>
        <text id='hunger' class='need'>
          HUNGER
        </text>
        <bar id='other-progress' class='progress-bar'>
          <span id='fullness-meter'></span>
        </bar>
        <bar id='left-progress' class='progress-bar'>
          <span id='hunger-meter'></span>
        </bar>
      </section>

    </header>

    <article id='main'>
      <article class='egg'>
        <img class='egg-crack' id='start-egg' src="/img/egg-start.svg"/>
      </article>
    </article>

    <section id='user-input'>
      <input type='text'>
    </section>

    <center>
      <section id='buttons'>
        <button id='eat' data-pick='eat'>EAT</button>
        <button id='play' data-pick='play'>PLAY</button>
        <button id='poop' data-pick='poop'>POOP</button>
        <button id='sleep' data-pick='sleep'>SLEEP</button>
      </section>
    </center>

    <script type="text/javascript" src="/js/eggAnimation.js"></script>
    <script type="text/javascript" src="/js/play.js"></script>
    <script type="text/javascript" src="/js/gameAnimations.js"></script>

  </body>

</html>