<html>

  <head>
    <link rel="stylesheet" type="text/css" href="css/app.css">
    <link rel="stylesheet" type="text/css" href="css/animate.min.css">
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="/js/snap.svg-min.js"></script>
    <script src="js/modernizr.js"></script>
    <link rel="stylesheet" href="css/foundation.css">
  </head>

  <body>

    <article class='egg'>
      <img class='egg-crack' id='start-egg' src="/img/egg-start.svg"/>
    </article>

    <script type="text/javascript" src="/js/eggAnimation.js"></script>

  </body>

</html>