<html>

  <head>
    <link rel="stylesheet" href="stylesheets/foundation.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/app.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/animate.min.css">
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="/js/vendor/snap.svg-min.js"></script>
    <script src="js/vendor/modernizr.js"></script>
  </head>

  <body>

    <header class='text'>
      <article id='greeting'>Hello!</article>
      <article id='ask-name'>What do you want to name me?</article>
    </header>

    <article class='egg'>
      <img class='egg-crack' id='start-egg' src="/img/egg-start.svg"/>
    </article>

    <section id='user-input'>
      <input id='name' type='text'>
      <button id='clickme'>Click</button>
    </section>

    <script type="text/javascript" src="/js/eggAnimation.js"></script>
    <script> 
        $('#clickme').on('click', function() {

          $.ajax({
          url: '/name',
          type: 'POST',
          data: {name: $('#name').val()},
          success: function(data) {
            $('.egg').append('<p>' + data.name + '</p>')
          }
         })
        });
    </script>

  </body>

</html>