article {
  height: 400px;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  position: relative;
}

.egg-crack {
  height: 400px;
  width: 400px;
  position: absolute;
  display: block;
}

#tamagotchi {
  height: 160px;
  width: 160px;
  position: absolute;
  display: block;
  top: 120;
  left: 110;
  transform: rotate(17deg);
}

#first-half{
  height: 180px;
  width: 190px;
  position: absolute;
  top: 65;
  left: 89;
}

#second-half{
  height: 180px;
  width: 190px;
  position: absolute;
  top: 165;
  left: 89;
}