body {
  font-family: Arial;
}

article {
  height: 400px;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  position: relative;
}

.egg-crack {
  height: 400px;
  width: 400px;
  position: absolute;
  display: block;
}

#tamagotchi {
  height: 160px;
  width: 160px;
  position: absolute;
  display: block;
  top: 120;
  left: 110;
  transform: rotate(17deg);
}

#first-half{
  height: 180px;
  width: 190px;
  position: absolute;
  top: 65;
  left: 89;
}

#second-half{
  height: 180px;
  width: 190px;
  position: absolute;
  top: 165;
  left: 89;
}

#greeting {
  display: none;
  font-size: 65px;
  position: relative;
  padding-left: 40%;
  padding-right: 40%;
}

#ask-name {
  display: none;
  font-size: 65px;
  position: relative;
  left: 20px;
}

.text {
  height: 150px;
  width: 100%;
  display: inline;
  position: absolute;
  top: -99px;
  padding: 5px;
}

input {
  display: none;
  width: 100%;
  position: relative;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid;
  font-size: 40px;
}

input:focus {
    outline:none;
}

#user-input {
  position: relative;
  height: 20px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

#buttons {
  display: none;
  margin-left: auto;
  margin-right: auto;
}

#needs{
  display: none;
  height: 100px;
  width: 100%;
}

.need{
  font-size: 30px;
  padding: 5px;
}

#left {
  position: absolute;
}

#name {
  position: relative;
  display: block;
  text-align: center;
  font-size: 40px;
  color: blue;
}

#right {
  position: absolute;
  right: 0px;
  top: 0px;
  padding-top: 5px;
  padding-right: 5px;
}

.progress {
  border: 1px solid rgb(241, 241, 241)
}

.progress-bar {
  position: relative;
  border-radius: 1000px;
  border: 1px solid rgb(241, 241, 241);
  background-color: #F6F6F6;
  height: 20px;
  padding: 1px;
  margin-bottom: 1px;
  width: 165px;
  display: block;
}

#right-progress {
  left: 190px;
  bottom: 21px;
}

#left-progress {
  bottom: 21px;
  left: 140px;
}

#other-progress {
  right: 40px;
}

#fullness {
  position: relative;
  right: 40px;
}

#hunger {
  position: relative;
  right: 15px;
}

span {
  background-color: #f04124;
  border-radius: 999px;
  display: block;
  height: 100%;
  width: 60%;
}